<div class="container">

    <ul class="carousel">

        <li class="card">

            <picture>
                <img draggable="false" src="assets/img/slider1.jpg" alt="Imagen carrusel">
            </picture>
            <h4>Anica Ramirez</h4>
            <span>Sales Manager</span>
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio eligendi eum
                blanditiis. Repudiandae ut dolores quidem maxime perferendis eos repellat ducimus quos!
                Molestias adipisci saepe optio sunt commodi earum.</blockquote>

        </li>

        <li class="card">

            <picture>
                <img draggable="false" src="assets/img/slider2.jpg" alt="Imagen carrusel">
            </picture>
            <h4>Anica Ramirez</h4>
            <span>Sales Manager</span>
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio eligendi eum
                blanditiis. Repudiandae ut dolores quidem maxime perferendis eos repellat ducimus quos!
                Molestias adipisci saepe optio sunt commodi earum.</blockquote>

        </li>

        <li class="card">

            <picture>
                <img draggable="false" src="assets/img/slider3.jpg" alt="Imagen carrusel">
            </picture>
            <h4>Anica Ramirez</h4>
            <span>Sales Manager</span>
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio eligendi eum
                blanditiis. Repudiandae ut dolores quidem maxime perferendis eos repellat ducimus quos!
                Molestias adipisci saepe optio sunt commodi earum.</blockquote>

        </li>

        <li class="card">

            <picture>
                <img draggable="false" src="assets/img/slider3.jpg" alt="Imagen carrusel">
            </picture>
            <h4>Anica Ramirez</h4>
            <span>Sales Manager</span>
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio eligendi eum
                blanditiis. Repudiandae ut dolores quidem maxime perferendis eos repellat ducimus quos!
                Molestias adipisci saepe optio sunt commodi earum.</blockquote>

        </li>

        <li class="card">

            <picture>
                <img draggable="false" src="assets/img/slider2.jpg" alt="Imagen carrusel">
            </picture>
            <h4>Anica Ramirez</h4>
            <span>Sales Manager</span>
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio eligendi eum
                blanditiis. Repudiandae ut dolores quidem maxime perferendis eos repellat ducimus quos!
                Molestias adipisci saepe optio sunt commodi earum.</blockquote>

        </li>

    </ul>
    <button class="carrusel-arrow carrusel-prev" #prev>
        <i class="fa-solid fa-chevron-left"></i>
    </button>

    <button class="carrusel-arrow carrusel-next" #next>
        <i class="fa-solid fa-chevron-right"></i>
    </button>

</div>