<div class="container" (mouseenter)="restartAutoplay()" (mouseleave)="autoPlay()" #container>

    <ul 
    class="carousel" 
    (mousemove)="dragging($event)" 
    (mousedown)="dragStart($event)" 
    (mouseup)="dragStop()"
    (scroll)="infiniteScroll()"
    #carrusel>

        <li class="card" #card>

            <picture>
                <img draggable="false" src="assets/img/slider1.jpg" alt="Imagen carrusel">
            </picture>
            <h4>Anica Ramirez</h4>
            <span>Sales Manager</span>
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio eligendi eum
                blanditiis. Repudiandae ut dolores quidem maxime perferendis eos repellat ducimus quos!
                Molestias adipisci saepe optio sunt commodi earum.</blockquote>

        </li>

        <li class="card" #card>

            <picture>
                <img draggable="false" src="assets/img/slider2.jpg" alt="Imagen carrusel">
            </picture>
            <h4>Anica Ramirez</h4>
            <span>Sales Manager</span>
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio eligendi eum
                blanditiis. Repudiandae ut dolores quidem maxime perferendis eos repellat ducimus quos!
                Molestias adipisci saepe optio sunt commodi earum.</blockquote>

        </li>

        <li class="card" #card>

            <picture>
                <img draggable="false" src="assets/img/slider3.jpg" alt="Imagen carrusel">
            </picture>
            <h4>Anica Ramirez</h4>
            <span>Sales Manager</span>
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio eligendi eum
                blanditiis. Repudiandae ut dolores quidem maxime perferendis eos repellat ducimus quos!
                Molestias adipisci saepe optio sunt commodi earum.</blockquote>

        </li>

        <li class="card" #card>

            <picture>
                <img draggable="false" src="assets/img/slider3.jpg" alt="Imagen carrusel">
            </picture>
            <h4>Anica Ramirez</h4>
            <span>Sales Manager</span>
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio eligendi eum
                blanditiis. Repudiandae ut dolores quidem maxime perferendis eos repellat ducimus quos!
                Molestias adipisci saepe optio sunt commodi earum.</blockquote>

        </li>

        <li class="card" #card>

            <picture>
                <img draggable="false" src="assets/img/slider2.jpg" alt="Imagen carrusel">
            </picture>
            <h4>Anica Ramirez</h4>
            <span>Sales Manager</span>
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio eligendi eum
                blanditiis. Repudiandae ut dolores quidem maxime perferendis eos repellat ducimus quos!
                Molestias adipisci saepe optio sunt commodi earum.</blockquote>

        </li>

    </ul>

    <button id="prev" class="carrusel-arrow carrusel-prev" (click)="arrowBtn($event)" #button>
        <i class="fa-solid fa-chevron-left"></i>
    </button>

    <button id="next" class="carrusel-arrow carrusel-next" (click)="arrowBtn($event)" #button>
        <i class="fa-solid fa-chevron-right"></i>
    </button>

</div>