@use '../../../assets/sass/variables'as v;
@use '../../../assets/sass/mixins'as m;


a {
    font-size: 2rem;
}

.row {
    @include m.padding();
}

.promo {
    @include m.promo(2rem, center, true, true);
}

.bg-color {
    @include m.bg-color(v.$melon);
}


#top {

    .area2,
    .area3 {
        @include m.flex();
    }

    .area3 {
        @include m.tablet {
            @include m.flex(flex-end);
        }
    }

    .grid {
        @include m.tablet {
            @include m.column3(1fr, 2fr, 1fr);
        }
    }

}

#middle {

    i {
        @include m.icons(v.$melon, 2.5rem);
    }

    .tablet {
        display: none;

        .logo {
            @include m.icons(v.$melon, 4rem);
        }

        .area1,
        .area3 {
            @include m.flex();
        }

        .area3 {
            @include m.tablet {
                @include m.flex(flex-end);
            }
        }

        @include m.tablet {
            @include m.column3(1.5fr, 2fr, 1.5fr);
        }
    }

    .phone {
        @include m.column3(1fr, 3fr, 1fr);
        grid-template-areas: 'area1 area2 area3';

        .logo {
            @include m.icons(v.$melon, 3rem);
        }

        .area1 {
            @include m.flex(flex-start);
        }

        .area2 {
            @include m.flex();
        }
    }

    @include m.tablet {

        .phone {
            display: none;
        }

        .tablet {
            display: grid;
        }
    }
}

#bottom {
    position: sticky;
    display: none;

    &.active {
        display: block;
    }

    .shop {
        @include m.flex(flex-start);
    }

    @include m.tablet {
        display: block;
    }
}

#menu {
    @include m.flex(center, true, 1rem);

    @include m.tablet {

        @include m.flex();

        a {
            @include m.menu();
        }
    }
}
