@use '../../../assets/sass/variables'as v;
@use '../../../assets/sass/mixins'as m;

i {
    @include m.icons(v.$melon, 2.5rem);
}

.buscador {
    overflow: hidden;
    border-radius: 2.4rem;
    border: .1rem solid v.$melon;

    button,
    input {
        border: 0;
    }

    input {
        width: 100%;
        outline: none;
        @include m.padding(1rem);
    }

    button {
        @include m.padding(.5rem, 2rem, false);
        border-radius: 2.4rem 0 0 2.4rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.box {
    width: 46rem;
    z-index: 500;
    max-height: 30rem;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
}

.list {
    padding: 1rem;
    cursor: pointer;
    @include m.flex(flex-start);
    align-items: center;

    &:hover {
        background-color: #f6f6f6;
    }

    h4,
    p {
        margin: 0;
    }

    img {
        max-width: 8rem;
    }

}