<app-slider></app-slider>

<section id="nosotros" class="padding">

    <div class="contain">

        <div class="grid column2">

            <picture>
                <img src="../../../../assets/img/somos.jpg" alt="somos">
            </picture>

            <div class="box">
                <h2>"La calaca fina"</h2>
                <p>Quisque porta dignissim dolor id bibendum. Donec ultricies blandit eros, quis efficitur nulla
                    vehicula vitae. Morbi sapien lectus, cursus vel interdum in, finibus eu lorem. Ut rutrum nibh
                    tincidunt pretium accumsan. Pellentesque laoreet est velit. Proin pharetra massa vel massa finibus
                    imperdiet. Donec vel nisl porta est viverra consectetur. Curabitur nisi lacus, blandit sed finibus
                    ut, consectetur eget neque. Mauris eget tincidunt ligula, vel commodo velit. Proin vulputate eu ex a
                    eleifend. Quisque sagittis euismod dui at cursus.</p>
                <p> Praesent eget laoreet mauris, et finibus turpis. Duis scelerisque eu sapien sit amet gravida.
                    Aliquam suscipit lacinia sapien, quis aliquam eros maximus eget. Fusce luctus suscipit dolor sit
                    amet posuere. Fusce id lacus dapibus, porta ante in, lacinia orci. Ut sollicitudin quam nisi, eget
                    eleifend tortor porttitor quis. Suspendisse faucibus suscipit nulla, in egestas neque. Suspendisse
                    vehicula auctor porta. Vestibulum sapien risus, eleifend eu ultricies id, hendrerit vitae lectus.
                    Quisque justo purus, tempus in purus a, maximus egestas lorem. Vestibulum vitae ligula eu turpis
                    dapibus elementum. Fusce posuere mauris ut est bibendum tempor.</p>

                <div class="flex center"><a routerLink="/nosotros" class="btn">¡Más de nosotros!</a></div>
            </div>
        </div>
    </div>
</section>

<section class="padding">
    <div class="contain">
        <h2>Productos Destacados</h2>
        <app-carrusel></app-carrusel>
        <p>una galeria en nosotros, metodos de pago, instagram, blog</p>
    </div>
</section>

<section id="banner" class="padding">
    <div class="contain">
        <h2>El estilo predilecto para todas las regiones</h2>
        <p class="promo">Ofrecemos envío gratis a todo latinoamerica</p>
    </div>
</section>


<section class="padding">
    <div class="contain">
        <h2>Nuestro Catálogo</h2>
        <app-carrusel></app-carrusel>
    </div>
</section>


<section id="testimonios" class="">
    <div class="contain">
        <h2>Testimonios</h2>
    </div>
</section>