@use '../../../assets/sass/variables'as v;
@use '../../../assets/sass/mixins'as m;

.carrusel {
    height: 47rem;
    overflow: hidden;
    position: relative;

}

.carrusel-track {
    top: 0;
    left: 0;
    position: relative;
    @include m.flex(flex-start, false, 0);
    transition: all 1s ease-in-out;
}


/************************************************/

.punto,
.carrusel-arrow {
    @include m.btn-carrusel();
}

.carrusel-arrow {
    @include m.btn-position(4.5rem);
}

.carrusel-prev {
    left: .5rem;
}

.carrusel-next {
    right: .5rem;
}

.puntos {
    display: none; 

    @include m.tablet {    
        @include m.pointsBottom(-1.4rem);
    }
}

.punto {
    width: 1.7em;
    height: 1.7em;
    list-style: none;
}

i {
    opacity: .5;
    @include m.icons(v.$melon)
}

/************************************************/

.product {
    flex: 0 0 100%;

    min-height: 45rem;
    border: 1px solid #e1e1e1;
    // margin: 0 .5rem;
    @include m.bg-color(v.$gray);


    @include m.phone {
        flex: 0 0 50%;
    }

    @include m.tablet {
        flex: 0 0 33.3%;
    }

    @include m.lap {
        flex: 0 0 25%;
    }

    h3 {
        font-size: 2rem;
        @include m.title(v.$melon, center, 1.5rem, italic);
    }

    p {
        margin: .6rem 0;
        text-align: center;
    }

    a {
        width: 100%;
    }

    b {
        color: v.$melon;
        font-size: 1.2em;
    }

    img,
    picture {
        margin: 0 auto 1rem;
        display: block;
        max-height: 20rem;
    }

    .btn {
        margin: 0;
    }

    .shop {
        margin-top: .7rem;
        @include m.btn(white, v.$cafe, false);

        &:hover {
            background-color: v.$orange;
        }
    }
}

.box {
    height: 100%;
    padding: 2rem;
    @include m.box(30rem);
    @include m.flex(space-between, true, .5rem);
}