<footer class="bg-color padding">

    <div class="contain grid column4">

        <div>
            <a href=""><i class="logo fa-solid fa-shop fa-beat"></i></a>
            <h3>ClothyShop</h3>
        </div>

        <div>
            <h3>Síguenos</h3>

            <div class="flex">
                <i class="fa-solid fa-brands fa-facebook"></i>
                <a href="">ClothyShop</a>
            </div>

            <div class="flex">
                <i class="fa-solid fa-brands fa-instagram"></i>
                <a href="">@LaCalacaFina</a>

            </div>
            <div class="flex">
                <i class="fa-solid fa-brands fa-youtube"></i>
                <a href="">/calacafina</a>
            </div>

        </div>

        <div class="box">
            <h3>Infomación</h3>
            <a href="">Aviso de Privacidad</a>
            <a href="">Política de Cookies</a>
            <a href="">Preguntas Frecuentes</a>
            <a href=""></a>

        </div>

        <div>
            <h3>Ubícanos</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d963541.505550921!2d-99.91966230686663!3d19.37633888864757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f1de78a0052b%3A0xaa9d8cc7fae23b50!2sBarrio%20perdido!5e0!3m2!1ses!2smx!4v1696965515960!5m2!1ses!2smx" width="600" height="260" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

    </div>

</footer>