/*---------Coloress---------- */
$melon: #FB846B;
$orange: #ee6548;

$cafe: #9d5a4c;
$cafeDark: #994838;
$creamDark: #e77660;

$blue: #211E4F;
$gray: #F7F7F7;


/*---------Fuentes---------- */
$title: 'Taviraj';
